<% include ./partials/header.ejs %>

<div><a href="/user/<%= currentUser.id %>/exchange/new">Start a new exchange</a></div>

<h2>Exchanges you're in:</h2>
<% foundPairing.forEach(function(pairing){ %>
    <div class="exchange-display boxed">
        <h3>Name: <%= pairing.exchangeGroup.name %></h3>
        <div class="exchange-display-container">
            <div>
                <div>Admin: <%= pairing.exchangeGroup.admin.firstName %> <%= pairing.exchangeGroup.admin.lastName %></div>
                <div>Spend limit: $<%= pairing.exchangeGroup.spendLimit %></div>
                <div>Your assigned pair: <%= `${pairing.pair.firstName} ${pairing.pair.lastName}` %></div>
                <div>Status: <%= pairing.status %></div>
            </div>
            <div>
                <h4>Notes from your pair:</h4>
                <div class='boxed'><pre><%= pairing.notesFromPair %></pre></div>
            </div>
            <div>
                <h4>Notes for your pair:</h4>
                <textarea><%= pairing.notesForPair %></textarea>
                <span class="btn" data-url="/user/<%= currentUser.id %>/exchange/<%= pairing.exchangeGroup._id %>/updatePairingNotes" data-pair-id="<%= pairing.pair._id %>">Send notes</span>
                <div class="msg-send-confirm"></div>
            </div>
        </div>
    </div>
<% }); %>

<% include ./partials/footer.ejs %>