<% include ./partials/header.ejs %>

<h1><%= user.firstName %> <%= user.lastName %></h1>

<div id="user-page-option-container">
    <a href="/user/<%= user._id %>/lists/" class="user-page-option">My lists</a>
    <a href="/user/<%= user._id %>/lists/new" class="user-page-option">Add a list</a>
    <a href="/user/<%= user._id %>/friends" class="user-page-option">Friends</a>
    <a href="/search" class="user-page-option">Search for users</a>
    <a href="/invitations/<%= user._id %>" class="user-page-option">See invitations</a>
</div>


<% include ./partials/footer.ejs %>