<% include ./partials/header.ejs %>

<h1><%= list.name %></h1>
<div id='user_id' data='<%= user._id %>'></div>
<div id='list_id' data='<%= list._id %>'></div>

<div id="wishlist">
    <% list.items.forEach(function(item){ %>
    
        <% if (currentUser && list.owner.equals(currentUser._id)){ %>
            <div class="wishlist-item">
                <div class="wishlist-title">
                    <%= item.name %>
                </div>
                <span><%= item.price %></span>
                <form id="delete-button-form" action='/user/<%= user._id %>/lists/<%= list._id %>/items/<%= item._id %>?_method=DELETE' method="POST">
                    <button class='btn-delete'>Delete item</button>
                </form>


            </div>
        <% } else { %>
        
            <a class="item-link" href="/user/<%= user._id %>/lists/<%= list._id %>/items/<%= item._id %>">
                <div class="wishlist-item">
                    <div class="wishlist-title">
                        <%= item.name %>
                    </div>
                    <span><%= item.price %></span>
                    <span>Status:<%= item.purchaseStatus %></span>
                </div>
            </a>
        <% } %>
    <% }); %>
</div>



<span class='btn' id='show-item-form'>Add new item</span>

<form id='new-item-form' action="/user/<%= user._id %>/lists/<%= list._id %>/items" method="POST">
    <input type='text' class='input-new' name="wishlistItem[name]" placeholder="Name of item, description..."></input>
    <input type='text' class='input-new' name="wishlistItem[price]" placeholder="Price"></input>
    <input type='text' class='input-new' name="wishlistItem[link]" placeholder="Link"></input>
    <textarea class='input-new' name="wishlistItem[notes]" placeholder="notes"></textarea>
    <button class="input-new btn">Add it!</button>  <span  class='btn' id='close-add-item'>Close</span>
</form>

<% include ./partials/footer.ejs %>