<% include ./partials/header %>

    <div class='show-item-title'><%= item.name %></div>
    <div class='show-item-price'><%= item.price %></div>
    <div class='show-item-purchaseStatus'><%= item.purchaseStatus %></div>
    <div class='show-item-notes'><%= item.notes %></div>
    <form action='/items/<%= item._id %>?_method=DELETE' method="POST">
        <button class='show-item-delete'>Delete item</button>
    </form>
    
    <h3>Comments</h3>
    <% if (item.comments.length === 0){ %>
    No comments
    <% }else{ %>
    <% item.comments.forEach(function(comment){ %>
    <div class='show-item-comment'><%= comment %></div>
    <% }); %>
    <% } %>
    <button>Add comment</button>

<% include ./partials/footer %>