<% include ./partials/header %>

    <div class='show-item title'>Item: <%= item.name %></div>
    <div class='show-item price'><%= item.price %></div>
    <div>
        <span class='show-item purchaseStatus <%= item.purchaseStatus %>'><%= item.purchaseStatus %></span>
    </div>
    <div class='show-item purchaseLink'><a href='<%= item.link %>'>Available here</a></div>
    <div class='show-item notes'>Notes: <%= item.notes %></div>
    <form action='/user/<%= user._id %>/lists/<%= list._id %>/items/<%= item._id %>?_method=DELETE' method="POST">
        <button class='btn btn-delete'>Delete item</button>
    </form>
    
    <div id='comments-section'>
        <h3>Comments</h3>
        <div id='comment-list'>
            <% item.comments.forEach(function(comment){ %>
                <div class='show-item-comment'><%= comment.text %></div>
            <% }); %>
        </div>
        <div>
            <form id='add-comment-form' action='/items/<%= item._id %>/comments' method="POST">
                <textarea name='comment[text]'></textarea>
                <button id='add-comment-btn' class='btn'>Add Comment</button>
            </form>
        </div>
    </div>

<% include ./partials/footer %>