<% include ./partials/header %>

    <div class='show-item title'>Item: <%= item.name %></div>
    <div class='show-item price'><%= item.price %></div>
    
    <form id='item-status-form' action="/user/<%= user._id %>/lists/<%= list._id %>/items/<%= item._id %>?_method=PUT" action="POST?">
        <input id='purchase-status-value' type="hidden" value="<%= item.purchaseStatus %>">
        <span class='item-status-button' id='unclaimed'>Unclaimed</span>
        <span class='item-status-button' id='claimed'>Claimed</span>
        <span class='item-status-button' id='purchased'>Purchased</span>
        
            <span id='claimed-by'>
                <% if(item.claimedBy){ %>
                    <%= item.purchaseStatus %> by <%= item.claimedBy.firstName %> <%= item.claimedBy.lastName %>
                <% } %>
            </span>
    </form>
    
    <div class='show-item purchaseLink'><a href='<%= item.link %>'>Available here</a></div>
    <div class='show-item notes'>Notes: <%= item.notes %></div>
    <% if (currentUser && list.owner.equals(currentUser._id)){ %>
        <form action='/user/<%= user._id %>/lists/<%= list._id %>/items/<%= item._id %>?_method=DELETE' method="POST">
            <button class='btn btn-delete'>Delete item</button>
        </form>
    <% } %>
    <div id='comments-section'>
        <h3>Comments</h3>
        <div id='comment-list'>
            <% item.comments.forEach(function(comment){ %>
                <div class='show-item-comment'>
                    <pre><%= comment.text %></pre>
                    <div class='comment-author'> - <%= comment.author.firstName %> <%= comment.author.lastName %>, <%= comment.createdAt.toLocaleDateString('en-US') %></div>
                </div>
            <% }); %>
        </div>
        <div>
            <form id='add-comment-form' action='/user/<%= user._id %>/lists/<%= list._id %>/items/<%= item._id %>/comments/' method="POST">
                <textarea name='comment[text]'></textarea>
                <button id='add-comment-btn' class='btn'>Add Comment</button>
            </form>
        </div>
    </div>

<% include ./partials/footer %>